#subscribeButton {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #0056b3;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
    }

    #subscribeButton.unsubscribed {
        background-color: #c0392b;
    }
    #darkModeButton {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
    }
    #lightModeButton {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #f4f4f4;
        color: black;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight:bold;
    }